

.btn-forms {
    background-color: #f8f2d9;
    padding: 10px;
    position: absolute;
    bottom: 22%;
    left: 90%;

    &:hover{
      color: black;
    font-size: x-large;
    background-color: #E6A16F;
    
    }
  }