


.trabajamos {
    margin: 1px;
    padding: 20px;
    font-size: large;
  }
  
  .card-vision {
    position: absolute;
    top: 20%;
  }
  
  .card-mision {
    position: absolute;
    top: 60%;
  }

  .slogan-h1 {
    margin: 5%;
  }
  